@{
    ViewData["Title"] = "Faqs Page";
}

<div>
    
    @*<p>--------------------Seccion Faqs--------------------</p>*@
    <div class="content bg-white">
        <div class="content container-fluid">
            <section class="row">
                <div style="margin:23px 0;">
                    <div class="col-12 col-lg-6">
                        <h1>
                            Preguntas frecuentes
                        </h1>
                    </div>
                    <div class="section-text">
                        <p>
                            <em>
                                En esta página puede encontrar las preguntas y respuestas más comunes que tenían otros miembros.
                            </em>
                        </p>
                        <p>Si no puede encontrar su respuesta, contáctenos directamente en <a href="mailto:support@laencuestadora.com">support@laencuestadora.com</a>. Estamos encantados de responder a todas sus preguntas que podrían ser útiles para otros usuarios.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
