@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    @*<p>--------------------Seccion Portada--------------------</p>*@
  
    <div>
        <div>
            <section class="row">
                <div class="col-12 col-lg-6">
                    <div style="margin:23px 0;">
                        <h1>
                            Encuestas pagas: gane dinero en línea
                            <br>
                        </h1>
                    </div>
                    <div class="section-text">
                        Obtenga hasta 500 puntos por cada encuesta
                    </div>
                    <div class="section-text">
                        Pago fácil y seguro
                    </div>
                </div>
            </section>
            <br />
            <section>
                <div class="section-wrap">
                    <h2>
                        Cómo ganar con encuestas pagas en 3 sencillos pasos
                        <br />
                    </h2>
                    <br />
                    <div style="display: flex;">
                        <div class="col-12 col-lg-4">
                            <img class="col-icon" alt="Registrese en La Encuestadora" src="/img/imagen1.png">
                            <h4>Regístrese</h4>
                            <p>
                                Todos pueden unirse. Es fácil de registrarse y solo toma 30 segundos.
                                <a href="/Home/Login">Inicie el registro aquí</a>
                            </p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <img class="col-icon" alt="Conteste online" src="/img/imagen2.png">
                            <h4>Responder</h4>
                            <p>
                                Se le invitará por correo electrónico a las encuestas. Contesta honestamente. Sus respuestas son anónimas.
                            </p>
                        </div>
                        <div class="col-12 col-lg-4">
                            <img class="col-icon" alt="Reciba pagos por responder" src="/img/imagen3.png">
                            <h4>Recibir el pago</h4>
                            <p>
                                Cuando haya alcanzado el umbral de puntos, puede recibir el pago con un solo clic.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
